name: Teste de Resposta de Permutacoes Automatico 

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check Files
      uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install argparse python-math
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
  check_files:
    runs-on: ubuntu-latest
    steps:
    - name: Check folder for files
      run: |
        cd ${{ github.workspace }}
        ls
        if ls -q ./Respostas/ | grep -v -e '\.txt$'; then
          echo "Files found"
        else
          echo "No files found"
          exit 1
        fi
      
      
      
    
